/* ######### Container Design ############ */

.overallContainer {
    width: 60%;
    margin: auto;
    text-align: center;
}

.container {
    border: 1px solid rgb(44, 43, 43);
    padding-inline: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin: auto;
    position: relative;
}

.messageOutput {
    font-style: italic;
}

/* ######## Email Pointer ###### */
.email {
    cursor: pointer;
}

/* ###### Red X Design ########### */
.deletePostButton {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
}

/* ######## Input Post ########## */

.inputPost {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
}
.inputPost input {
    padding: 10px;
}

.inputPost textarea {
    resize: vertical;
    min-height: 100px;
    padding: 10px;
}

/* ######### Toggle Form ############## */

.toggleForm {
    all: unset;
    cursor: pointer;
}

/* ############### Info Box ################ */

.infoBox {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 10px); /* Abstand zum rechten Rand des X-Buttons */
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

.infoBox.visible {
    display: block;
}
